body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  backdrop-filter: blur(120px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  background-image: url('data:image/svg+xml;utf8,<svg width="1280" height="832" viewBox="0 0 1280 832" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1280" height="832" fill="black"/><circle cx="639.5" cy="97.5" r="226.5" fill="%23CE5D5D"/><rect x="187.572" y="515" width="363.63" height="534.402" rx="26" transform="rotate(55.3408 187.572 515)" fill="%23EFBC59"/><circle cx="1098" cy="210" r="300" fill="%232979FF"/></svg>');
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: #2E2E2E;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.header .logo {
  float: left;
  width: 100px;
  height: auto;
}

.header .buttons .icon {
  float: right;
}

.header .buttons button {
  background-color: transparent;
  border: none;
  color: #f2f2f2;
  font-weight: bold;
  padding: 10px 20px;
  margin-left: 10px;
}
.icon{
  margin-left: 30px;
  width: 21px;
}
.content {
  text-align: center;
  margin-top: 200px;
}

.content .logo {
  width: 200px;
  height: auto;
}

.content .subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 44px;
  color: white;
  margin-top: 20px;
}

.content .additional-text {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: #888888;
  margin-top: 10px;
}
.content .start-button {
  margin-top: 20px;
}

.content .start-button button {
  background-color:#2979ffff;
  color: white;
  font-weight: bold;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

